snippet hd "script header" 
############################################################
#
# Author:       Georg Schnabel
# Email:        g.schnabel@iaea.org
# Date:         `!v strftime("%Y/%m/%d")`
# Institution:  IAEA
#
# ${1:<description>}
#
# Usage:
#     ${2:<command-call>}
#
#     ${3:<parameter>}: ${4:<description>}
#
############################################################
endsnippet
